*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace; 
}

body {
    background-color: var(--background-color);
    width: 100vw;
    font-size: 1rem;
}

#head-bin {
    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-highlighted);
    width: 100%;
    padding: 0.5rem;
    font-size: 7.5rem;
    padding: 2rem;
}

#filter-bin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#card-bin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img {
    width: 100%;
}

.item-card {
    background-color: var(--item-background);
    width: 29rem;
    height: 50rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: space-around;
    margin: 1.4rem 1rem;
}

.card-title {
    font-size: 3rem;
    color: var(--accent-color);
}

.card-desc {
    font-size: 2rem;
    color: var(--accent-color);
}

.card-price {
    font-size: 2.5rem;
    color: var(--price-color);
}

.filter-button {
    padding: 0.4rem;
    margin: 0.5rem;
    font-size: 2rem;
    background-color: var(--button-background);
    color: var(--accent-color);
}

#theme-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--button-background);
    color: var(--accent-color);
    width: 5.2rem;
    height: 5.2rem;
    font-size: 1.5rem;
    border-radius: 100%;
}

#head-title {
    margin: auto auto 2rem auto;
}