:root {
    /*MAIN THEME*/
    /*Colors*/
    --dark-khaki: #CACF85;
    --dark-sea-green: #8CBA80;
    --steel-teal: #658E9C;
    --purple-navy: #4D5382;
    --english-violet: #514663;

    /*ALT-THEME*/
    /*Colors*/
    
}

.main-theme {

}